.container {
    background-color: blanchedalmond;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
  }

.centrets {
    text-align: center;
}

.sarakstaElements {
    list-style-type: none;
    text-align: center;
  }

  .kajene {
    text-align: center;
    color: rgba(160, 148, 148, 0.753)
}

body {
  background-color: antiquewhite;
}